<h1>{{ message }}</h1>

<ul>
  {{#each videoData}}
    <li>
      <h2>{{ name }}</h2>
      <p>Rating: {{ rating }}</p>
      <h4>Reviews:</h4>
      <p>{{ reviews }}</p>
      <p>Type: {{ type }}</p>
      <video src="/public/videos/{{ video_url }}" controls></video>
    </li>
  {{/each}}
</ul>
