
<link rel="stylesheet" href="/stylesheets/category.css">

<h1 class="title">{{ message }}</h1>

<a id="back"href="/">Back Home</a>
<ul>
  {{#each videoData}}
    <li>
      <h2>{{ name }}</h2>
      <p>Rating: {{ rating }}</p>
      <h4>Reviews:</h4>
      <p>{{ reviews }}</p>
      <p>Type: {{ type }}</p>
      <video src="/public/videos/{{ video_url }}" controls poster="/public/images/{{ thumbnail_url }}"></video>
    </li>
    <div id="app">
<social-sharing url="https://www.facebook.com/sharer/sharer.php?u=" title="Wow Check out this awesome movie I'm watching"
                    description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
                    quote="Wow Check out this awesome movie I'm watching"
                    inline-template>
<div>
  <ul>
  <li>
    <!-- <network network="facebook"> -->
      <!-- <i class="fa fa-fw fab fa-facebook"></i> -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><i class="fa fa-fw fab fa-facebook"></i><p class="share-text">Share on Facebook</p></a>
    <!-- </network> -->
 </li>

 <li>
    <!-- <network network="twitter"> -->
      <!-- <i class="fa fa-fw fab fa-twitter"></i> -->
      <!-- <a href="https://twitter.com/home?status=" target="_blank" ><i class="fa fa-fw fab fa-twitter"></i> Twitter</a> -->
      <a href="https://twitter.com/intent/tweet?text=Check%20This%20Out" target="_blank"><i class="twitter-share-button fa fa-fw fab fa-twitter"></i><p class="share-text">Share on Twitter</p></a>
    <!-- </network> -->
</li>
</ul>
 </div>
</social-sharing>

</div>
  {{/each}}
</ul>
