
<link rel="stylesheet" href="/stylesheets/category.css">

<h1 class="title">{{ message }}</h1>

<a id="back"href="/">Back Home</a>
<ul>
  {{#each videoData}}
    <li>
      <h2>{{ name }}</h2>
      <p>Rating: {{ rating }}</p>
      <h4>Reviews:</h4>
      <p>{{ reviews }}</p>
      <p>Type: {{ type }}</p>
      <video src="/public/videos/{{ video_url }}" controls poster="/public/images/{{ thumbnail_url }}"></video>
    </li>

  {{/each}}
</ul>
