<h1>{{ message }}</h1>

<ul>
  {{#each videoData}}
    <li>
      <h4>{{ name }}</h4>
      <p>${{ rating }}</p>
      <p>{{ reviews }}</p>
      <p>{{ type }}</p>
      <video src="/public/videos/{{ video_url }}" controls></video>
    </li>
  {{/each}}
</ul>
