<section id="video">
  <!-- back button here -->
  <main>
    <a href="/" class="back-button">
      <i class="far fa-arrow-alt-circle-left"></i>
    </a>

    <div class="credit_summary_item">
      <h4 class="inline">Name:</h4>
      <span>{{movie.title}}</span>
    </div>
    <div class="credit_summary_item">
      <h4 class="inline">Year:</h4>
      <span>{{movie.year}}</span>
    </div>
    <div class="credit_summary_item">
      <h4 class="inline">Runtime:</h4>
      <span>{{movie.runtime}}</span>
    </div>
    <div class="credit_summary_item">
      <h4 class="inline">Release:</h4>
      <span>{{movie.release}}</span>
    </div>
    <div class="credit_summary_item">
      <h4>Storyline:</h4>
      <p>{{movie.storyline}}</p>
    </div>
    <div class="credit_summary_item">
      <h4>Trailer:</h4>
      <video autoplay poster="/public/images/{{movie.cover}}">
        <source src="/public/videos/{{ movie.trailer }}" type="video/mp4">
      </video>
    </div>

  </main>
  <!-- aside => add our own reviews -->
  <aside class="add-comment" :class="{ floatRight : reviews.length > 0 }">
    <form id="comments-form">
      <h4 class="review-heading">Add a Review</h4>
      <span class="hidden movId">{{ movie.id }}</span>
      <review-stars v-model="numStars" :disabled="false"></review-stars>
      <textarea name="review" id="review" placeholder="What did you think?" v-model="review"></textarea>
      <button class="submit-button" v-on:click="addReview">Submit your review!</button>
    </form>
    <!-- reviews go here -->
    <article class="comments" v-if="reviews.length > 0">
      <div class="comment-item" v-for="review in reviews">
        <!-- temporary vue component -->
        <review-stars :value="review.comments_rating" :disabled="true"></review-stars>
        <!-- end component -->
        <i class="post-date">${ review.comments_date }</i>
        <p>
          ${ review.comments_copy }
        </p>
      </div>
    </article>
  </aside>
</section>
